<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <title>Getting Started</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" />
    </head>
    <body>
        <div id="app">
            <section class="section">
                <div class="column is-3">
                    <div class="card">
                        <card-image :image="image"></card-image>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">{{ name }}</p>
                                </div>
                            </div>

                            <hr>

                            <!-- Computed properties -->
                            {{ numberOfInterests }}

                            <br />
                    

                            <span class="tag" v-for="interest in interests" :keys="interest.id">{{ interest.title }}</span>

                            <!-- Attribute binding -->
                            <!-- <a :href="link">Google</a> -->

                            <!-- Conditional Binding -->
                            <!-- <div class="content" v-if="showDescription">
                                <p>{{ description }}</p>
                            </div>
                            <div class="content" v-else>
                                <p>This displays if the description is not displayed</p>
                            </div>

                            <p v-if="counter > 20">
                                counter greater than 20
                            </p>
                            <p v-else-if="counter > 5">
                                counter greater than 5
                            </p>
                            <p v-else>
                                less than 5
                            </p> -->

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <script>
            Vue.component("card-image", {
                props: {
                    image: String
                },
                template: `
                        <div class="card-imag">
                            <div class="image is4by3">
                                <!-- Attribute binding -->
                                <img :src="image" /> <!-- or <img v-bind:src="image" /> -->
                            </div>
                        </div>
                `
            })
            var app = new Vue({
                el: '#app',
                data: {
                    name: "Vue Hero",
                    description:  "This is a description",
                    showDescription: false,
                    counter: 25,
                    image: "https://gist.githubusercontent.com/mbostock/9511ae067889eefa5537eedcbbf87dab/raw/944b6e5fe8dd535d6381b93d88bf4a854dac53d4/mona-lisa.jpg",
                    link: "https://google.com",
                    interests: [
                        {"id": 1, "title": "Interest 1"},
                        {"id": 2, "title": "Interest 2"},
                        {"id": 3, "title": "Interest 3"}
                    ]
                },
                computed: {
                    numberOfInterests() {
                        return "Number of interests: " + this.interests.length
                    }
                }
                    
            })
        </script>

    </body>
</html>