<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <title>Getting Started</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" />
    </head>
    <body>
        <div id="app">
            <section class="section">
                <div class="field is-grouped">
                    <div class="column is-3">
                        <div class="card">
                            <card-image :image="image"></card-image>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">{{ name }}</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>{{ description }}</p>
                                    <hr> {{ numberOfInterests }} <hr>                    

                                    <div class="tags">
                                        <span class="tag" v-for="interest in interests">{{ interest }}</span>
                                    </div>
                                </div>

                                <!-- Attribute binding -->
                                <a :href="link">Google</a>

                                <!-- Conditional Binding -->
                                <div class="content" v-if="showDescription">
                                    <p>{{ description }}</p>
                                </div>
                                <div class="content" v-else>
                                    <p>This displays if the description is not displayed</p>
                                </div>

                                <p v-if="counter > 20">
                                    counter greater than 20
                                </p>
                                <p v-else-if="counter > 5">
                                    counter greater than 5
                                </p>
                                <p v-else>
                                    <!-- less than 5 -->
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="column is-3">
                        <div class="field">
                            <div class="control">
                                <label>Name</label><br>
                                <input class="input" v-model="name">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <label>Description</label><br>
                                <textarea class="textarea" v-model="description"></textarea>
                            </div>
                        </div>

                        <hr>

                        <h3>Add interest</h3>

                        <add-interest @change="addInterest"></add-interest>
                        
                    </div>
                </div>
            </section>
        </div>

        <script>
            Vue.component("card-image", {
                props: {
                    image: String
                },
                template: `
                    <div class="card-imag">
                        <div class="image is4by3">
                            <!-- Attribute binding -->
                            <img :src="image" /> <!-- or <img v-bind:src="image" /> -->
                        </div>
                    </div>
                `
            })
            Vue.component("add-interest", {
                template: `
                    <div class="field is-grouped">
                        <div class="control">
                            <input class="input" v-model="interest">
                        </div>
                        <div class="control">
                            <button class="button" @click="addInterest">Add</button>
                        </div>
                    </div>
                `,
                data() {
                    return { 
                        interest: null 
                    }
                },
                methods: {
                    addInterest() {
                        this.$emit("change", this.interest)
                        this.interest = null
                    }
                }
            })

            var app = new Vue({
                el: '#app',
                data: {
                    name: "Vue Hero",
                    description:  "This is a description",
                    showDescription: true,
                    counter: 4,
                    image: "https://bulma.io/images/placeholders/1280x960.png",
                    link: "https://google.com",
                    interests: [ "Python", "Vue", "JavaScript"],
                    interest: null
                },
                computed: {
                    numberOfInterests() {
                        return "Number of interests: " + this.interests.length
                    }
                },
                methods: {
                    addInterest(interest) {
                        this.interests.push(interest)
                    }
                }
                    
            })
        </script>

    </body>
</html>